# Environment variables
.env
.env.local

# Python
__pycache__/
*.pyc
venv/
venv311/
*.pyc

# Uploads
uploads/
chroma_db/

# IDE
.vscode/
.idea/

# OS
.DS_Store
frontend/node_modules/.cache/
frontend/node_modules/
backend/venv/
frontend/.cache/
evaluation/.env
